<div class="container">
  <div class="row">
    <div class="col text-white mt-3">
      <h4>Solo Tools Privacy Policy</h4>
      <h5><b>Welcome to Solo Tools!</b></h5>
      <p>Solo Tools is a web based application, providing players of Swords of Legends Online with an extended experience to the game.
         This website is operated by delaY and provided through Amazon Web Services. This Privacy Policy sets out when and why we collect information from visitors to the site and users of the app and/or services.
        <br>This document has by no means been developed by a legal team, nor developed with any form of legal consultation,
         and is provided to simply give information on our data and information usage to assist in complying with the General Data Protection Regulation (GDPR) for users of this service in the EU.</p>
      <h5><b>Information we collect</b></h5>
      <p>When you interact with us through the app, we may collect information from you, as further described below:</p>
      <ul>
        <li>Amazon Web Services: We use several Amazon Web Services to employ ou app and as such, collecting analytical data to improve our service. This however, does not enable us to identify you personally.</li>
        <li>Info through other services:You may give us permission to collect your information in other services.
           For example, by connecting your Discord account then we will access certain information (Your username, id, avatar, etc) to allow us to identify you by your account and to allow us to associate you,
           your discord account and your BDO Planner account. This does not include passwords, we do not have any access to any password details, nor do we need them. Services that we make use of are; Discord.</li>
        <li>Cookies: We employ cookies to keep track of your local computer's settings, including but not limited to your account login details, theme choice, and latest accessed version.
           By disabling these cookies it may limit or remove your ability to use the service, as such it is not advised.</li>
      </ul>
      <h5><b>Where information is processed</b></h5>
      <p>Our server is hosted in Frankfurt through Amazon. No matter where you are located, you consent to the processing and transferring of your information in and to the EU and Germany.</p>
      <h5><b>Our use of your information</b></h5>
      <p>We use the information you provide in a manner that is consistent with this Privacy Policy. All data is never passed on to any other companies or persons outside the scope of this Privacy Policy.</p>
      <h5><b>Links to other websites</b></h5>
      <p>This Privacy Policy applies only to Solo Tools. The Service may contain links to other web sites not operated or controlled by us.
         The policies and procedures we describe here do not apply to those 3rd party sites. The links from the Services do not imply that we endorse or have reviewed said 3rd Party Sites.
         We suggest contacting those sites directly for information on their privacy policies.</p>
      <h5><b>Data retention</b></h5>
      <p>We generally will retain personal data for so long as it may be relevant to the purposes identified in this policy.
         To dispose of personal data, we may anonymise it, delete it or take other appropriate steps. Data may persist in copies made for backup and continuity purposes for additional time.</p>
      <h5><b>Security</b></h5>
      <p>We take reasonable steps to protect the information provided via the service from loss, misuse and unauthorised access, disclosure, alteration, or destruction. However, nothing is ever fully secure or error free.</p>
    </div>
  </div>
</div>
