<div class="container">
  <div class="row">
    <div class="col-8">
      <h3 class="m-3" style="color: white">Announcements</h3>
      <div class="m-4 text-white">
        <h5>We are live!</h5>
        <p>I am happy to finally release this to the public, for all players to enjoy.
          Although this project is still in it's infancy, I believe that it is already somewhat useful and as the development goes on (please report bugs!)
          I can continue to improve the map and maybe even move on to other useful helpers for the game.
          <br>A special thanks goes out to NamiBoops (Kumisnami#0001) for providing loads of data and work to get this off the ground.
          <br>In case you want to support us further with any kind of help from reporting bugs over adding more data to development itself or just want to hang out, feel free to join our Discord!</p>
      </div>
    </div>
    <div class="col-4">
      <iframe class="mt-4" src="https://discord.com/widget?id=868711798256332832&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
  </div>
</div>

<div class="container fixed-bottom pb-3">
  <div class="row">
    <div class="col text-center">
      <p class="text-white small">All Swords Of Legends Online media and content is a registered trademark of Gameforge 4D GmbH and/or Wangyuan Shengtang Entertainment Technology CO..</p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <a class="nav-link small" routerLink="/privacy">Privacy Policy</a>
    </div>
  </div>
</div>
