<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand" routerLink=""><b>SoLO Tools</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link" routerLink="">Home </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/map">Map </a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/about">About </a>
          </li>
        </ul>
      </div>
      <div class="form-inline mt-2 mt-md-0">
        <a *ngIf="(auth.user$ | async) === null" class="btn btn-outline-success my-2 my-sm-0"
                href="https://discord.com/api/oauth2/authorize?client_id=868712448633495582&redirect_uri=https%3A%2F%2Fsolo-tools.com%2Fapi%2Fdiscord%2Fcallback&response_type=code&scope=identify">
          Login</a>
        <ng-template #userTooltip>
          <div style="width: 250px">
            <div class="row">
              <div class="col-3">
                <img *ngIf="(auth.user$ | async) !== null" class="avatar-user" src="https://cdn.discordapp.com/avatars/{{(auth.user$ | async)?.uid}}/{{(auth.user$ | async)?.avatar}}" alt="Avatar">
              </div>
              <div class="col text-left">
                <div>{{(auth.user$ | async)?.username}}</div>
                <div class="text-muted small">{{(auth.user$ | async)?.username}}#{{(auth.user$ | async)?.discriminator}}</div>
              </div>
              <div class="col text-right">
                <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
              </div>
            </div>
          </div>
        </ng-template>
        <img *ngIf="(auth.user$ | async) !== null" class="avatar-sm" src="https://cdn.discordapp.com/avatars/{{(auth.user$ | async)?.uid}}/{{(auth.user$ | async)?.avatar}}" alt="Avatar"
             [ngbTooltip]="userTooltip" tooltipClass="user-tooltip" placement="bottom-right" triggers="click:blur">
      </div>
    </div>
  </nav>
</header>

<main role="main">
  <router-outlet></router-outlet>
</main>
