/* You can add global styles to this file, and also import other style files */
/** {
  max-width: 100vw;
  max-height: 100vh;
}*/

body, a, button:hover, .btn:not(:disabled):not(.disabled) {
  cursor: url('src/assets/cursors/normal.cur'), auto;
}

a {
  cursor: url('src/assets/cursors/normal.cur'), auto;
}

button:hover {
  cursor: url('src/assets/cursors/normal.cur'), auto;
}

html, body, app-root {
  /*height: 100%;*/
  background-color: #21212f;
}

.select-none {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.text-shadow-1 {
  text-shadow: 0 0 1px #f3f0c5;
}

.text-shadow-2 {
  text-shadow: 0 0 2px #f3f0c5;
}
